<h1>Rent-A-Pet</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('birds')%>);>
    <div class="container">
        <h1>Rent A Pet</h1>
        <p>We deliver the best experience in fostering pets</p>
        <a class="btn btn-flat" href="#">Apply now</a>
    </div>
</div>
<div class="container">
    <h2>Our goal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, tempora maxime provident dignissimos sint eum officia esse rem doloribus repellat necessitatibus commodi pariatur nisi odit neque quae suscipit adipisci in.
    </p>
    <h2>Our values</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, tempora maxime provident dignissimos sint eum officia esse rem doloribus repellat necessitatibus commodi pariatur nisi odit neque quae suscipit adipisci in.
    </p>
    <div class="cards">
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
        <%= render "components/pet_card" %>
    </div>
</div>
